<post-headline></post-headline>
<div class="post-list-container">
    <div class="row">
        <div class="col-md-12">
            <div class="post-item-container" *ngFor="let post of postList">
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/imgs/2.jpg" alt="..." class="img-thumbnail">
                    </div>
                    <div class="col-md-10 post-item-text-container">
                        <h3>
                            <a [routerLink]="['/post/post-detail',post.postId]">{{post.title}}</a>
                        </h3>
                        <div class="user-name-intitle">
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="fa fa-user"></span>
                                    <span>{{post.nickName}}</span>
                                </div>
                                <div class="col-md-3">
                                    <span class="fa fa-clock-o"></span>
                                    <span>{{post.postTime}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="abs">{{post.content | slice:0:140 | trim}}...</div>
                    </div>
                </div>
            </div>
            <p-paginator rows="{{itemsPerPage}}" totalRecords="{{totalRecords}}" first="{{offset}}" pageLinkSize="3"
                (onPageChange)="pageChanged($event)">
            </p-paginator>
        </div>
    </div>
</div>