<div class="role-edit-container" [@fadeIn]>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">编辑角色</h3>
    </div>
    <div class="panel-body">
      <form #form="ngForm" (ngSubmit)="form.form.valid" novalidate class="form-horizontal" role="form">
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !roleName.valid }">
          <label class="col-md-2 control-label">名称：</label>
          <div class="col-md-10">
            <input required name="roleName" [(ngModel)]="role.roleName" #roleName="ngModel" type="text"
              class="form-control" placeholder="请输入名称">
            <div *ngIf="form.submitted && !roleName.valid" class="text-danger">角色名称必须输入！</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">权限：</label>
          <div class="col-md-10">
            <p-pickList [source]="srcList" [target]="selectedList" [responsive]="true" dragdrop="true"
              sourceHeader="可选权限" targetHeader="现有权限">
              <ng-template let-permission pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div>{{permission.permissionName}}</div>
                </div>
              </ng-template>
            </p-pickList>
          </div>
        </div>
        <div *ngIf="error" class="col-md-offset-2 col-md-10 alert alert-danger">{{error}}</div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary btn-margin-1rem">保存</button>
            <button type="button" class="btn btn-default" (click)="cancel()">取消</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>