<div class="role-edit-container" [@fadeIn]>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">创建/编辑角色</h3>
    </div>
    <div class="panel-body">
      <form #roleInfoForm="ngForm" novalidate class="form-horizontal" role="form">
        <div class="form-group" [ngClass]="{ 'has-error': !roleName.valid }">
          <label class="col-md-2 control-label">角色名称：</label>
          <div class="col-md-10">
            <input required name="roleName" [(ngModel)]="roleInfo.roleName" #roleName="ngModel" type="text"
              class="form-control" placeholder="请输入角色名称" minlength="2" maxlength="32" />
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': !roleEnabled.valid }">
          <label class="col-md-2 control-label">是否启用：</label>
          <div class="col-md-10">
            <div class="checkbox">
              <label>
                <input name="roleEnabled" [(ngModel)]="roleInfo.roleEnabled" #roleEnabled="ngModel" type="checkbox" />
              </label>
            </div>
          </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': !remark.valid }">
          <label class="col-md-2 control-label">备注：</label>
          <div class="col-md-10">
            <textarea rows="5" name="remark" [(ngModel)]="roleInfo.remark" #remark="ngModel" type="text"
              class="form-control" placeholder="备注" maxlength="200">
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button type="button" class="btn btn-success btn-margin-1rem" (click)="roleInfoForm.form.valid && save()">
              保存
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">
              取消
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- 后端接口权限配置表格 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">后端接口权限</h3>
    </div>
    <div class="panel-body">
      <p-table [value]="apiPermissionListAll" dataKey="apiPermissionId" editMode="row"
        styleClass="p-datatable-gridlines" [(selection)]="apiPermissionListByRole"
        (selectionChange)="onApiPermSelectionChange($event)">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>API 名称</th>
            <th>API URL</th>
            <th>权限通配符</th>
            <th>备注</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="rowData">
            <td>
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td>
              {{rowData.apiName}}
            </td>
            <td>
              {{rowData.url}}
            </td>
            <td>
              {{rowData.permission}}
            </td>
            <td style="width: 120px;">
              {{rowData.remark}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- 前端页面权限配置表格 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">前端页面权限</h3>
    </div>
    <div class="panel-body">
      <p-treeTable [value]="compPermList" [columns]="cols" [resizableColumns]="true" columnResizeMode="expand"
        [scrollable]="true" selectionMode="checkbox" [(selection)]="selectedComp"
        (onNodeSelect)="onCompPermSelect($event)">
        <ng-template pTemplate="caption">
          <div class="flex">
            <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
            <span class="ml-2">全选</span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
              <p-treeTableCheckbox [value]="rowNode" *ngIf="i === 0"></p-treeTableCheckbox>
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </div>
</div>