<div class="user-register-container" [@fadeIn]>
    <div class="card">
        <div class="card-header">
            <h5>{{panelTitle}}</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm" role="form" novalidate>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label d-flex justify-content-end  pe-3">{{'userSignUp.email'
                        | translate}}</label>
                    <div class="col-md-9">
                        <input formControlName="email" type="email" class="form-control"
                            [ngClass]="{'is-invalid': formErrors.email }"
                            placeholder="{{'userSignUp.email-placeholder' | translate}}">
                        <div *ngIf="formErrors.email" class="text-danger">
                            {{ formErrors.email }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label d-flex justify-content-end  pe-3">{{'userSignUp.nickName'
                        | translate}}</label>
                    <div class="col-md-9">
                        <input required formControlName="nickName" type="nickName" class="form-control"
                            [ngClass]="{'is-invalid': formErrors.nickName }"
                            placeholder="{{'userSignUp.nickName-placeholder' | translate}}">
                        <div *ngIf="formErrors.nickName" class="text-danger">
                            {{ formErrors.nickName }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label d-flex justify-content-end  pe-3">{{'userSignUp.password'
                        | translate}}</label>
                    <div class="col-md-9">
                        <input formControlName="password" validateEqual="confirmPassword" reverse=true type="password"
                            class="form-control" [ngClass]="{'is-invalid': formErrors.password }"
                            placeholder="{{'userSignUp.password-placeholder' | translate}}">
                        <div *ngIf="formErrors.password" class="text-danger">
                            {{ formErrors.password }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 col-form-label d-flex justify-content-end  pe-3">{{'userSignUp.repeat-pwd'
                        | translate}}</label>
                    <div class="col-md-9">
                        <input formControlName="confirmPassword" validateEqual="password" type="password"
                            class="form-control" [ngClass]="{'is-invalid': formErrors.confirmPassword }"
                            placeholder="{{'userSignUp.repeat-pwd-placeholder' | translate}}">
                        <div *ngIf="formErrors.confirmPassword" class="text-danger">
                            {{ formErrors.confirmPassword }}
                        </div>
                    </div>
                </div>
                <!-- Mock 环境下不显示验证码，也不提交数据。-->
                <div *ngIf="!isMock">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label d-flex justify-content-end  pe-3">验证码：</label>
                        <div class="col-md-9">
                            <input required maxlength="4" formControlName="captcha" type="text" class="form-control"
                                [ngClass]="{ 'is-invalid': formErrors.captcha }" placeholder="至少1位，最多4位">
                            <div *ngIf="formErrors.captcha" class="text-danger" autocomplete="off">至少1位，最多4位</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-9 offset-md-3">
                            <captcha></captcha>
                        </div>
                    </div>
                </div>
                <div *ngIf="formErrors.formError" class="offset-md-3 col-md-9 alert alert-danger">
                    {{ formErrors.formError }}</div>
                <div class="row mb-3">
                    <div class="offset-md-3 col-md-9">
                        <button [disabled]="userForm.invalid" type="button" (click)="doSignUp()"
                            class="btn btn-success">{{btnLabel}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>