<div class="user-main-container" [@flyIn]="'active'">
    <div class="row">
        <div class="col-md-9">
            <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
        </div>
        <div class="col-md-3">
            <user-info panelTitle="用户信息" (follow)="doFollow()"></user-info>
            <div class="list-group">
                <a routerLink="write" class="list-group-item">写作</a>
                <a routerLink="post-table/page/1" class="list-group-item"><span class="badge">1024</span>文章管理</a>
                <a routerLink="comment-table/page/1" class="list-group-item"><span class="badge">1024</span>评论管理</a>
                <a routerLink="profile" class="list-group-item">个人设置</a>
            </div>
        </div>
    </div>
</div>