<div class="add-component-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="5-140个字符，非法字符自动截断。"></textarea>
                        </div>
                        <button type="button" class="btn btn-success">提交</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                	<div class="comment-item-container">
	                    <h5>这里是评论的内容</h5>
    	                <p>大漠穷秋 2016-11-22 12:00</p>        		
                	</div>
                	<div class="comment-item-container">
	                    <h5>这里是评论的内容</h5>
    	                <p>大漠穷秋 2016-11-22 12:00</p>        		
                	</div>
                </div>
            </div>
        </div>
    </div>
</div>
