<div class="post-detail-container">
	<div class="row">
		<div class="col-sm-12">
			<h4>文章的标题，可以很长，超过32个单词则自动截断</h4>
			<p>大漠穷秋 2016-11-22 11:32 点击：10000 评论：10000</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
			<p>这里是文章的内容</p>
		</div>
	</div>
</div>