<div class="comment-table-container" [@flyIn]="'active'">
    <form class="form-vertical" role="form">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="内容，用户名">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i> {{'search' | translate}}</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="comment-item-container">
                <p-dataTable [value]="commentList" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" dataKey="id">
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column field="id" header="序号" [sortable]="true"></p-column>
                    <p-column field="content" header="内容" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="userName" header="用户" [sortable]="true" [editable]="true"></p-column>
                    <p-column field="time" header="日期" [sortable]="true" [editable]="true"></p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
</div>
