<div class="container" [@flyIn]="'active'">
    <div class="row">
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a routerLink="chart" class="list-group-item">统计图表</a>
                <a routerLink="posttable/page/1" class="list-group-item">文章管理</a>
                <a routerLink="commenttable/page/1" class="list-group-item">评论管理</a>
                <a routerLink="profile" class="list-group-item">个人设置</a>
            </div>
            <div class="list-group">
                <a routerLink="usertable/page/1" class="list-group-item">用户管理</a>
                <a routerLink="roletable/page/1" class="list-group-item">角色管理</a>
                <a routerLink="permissiontable/page/1" class="list-group-item">权限管理</a>
                <a routerLink="sysparam" class="list-group-item">系统参数</a>
            </div>
        </div>
    </div>
</div>