<div class="post-table-container" [@flyIn]="'active'">
    <form class="form-vertical" role="form">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="标题，作者">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i>
                            搜索</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="post-item-container">
                <p-table [value]="postList" dataKey="id" editMode="row"  [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>标题</th>
                            <th>作者</th>
                            <th>日期</th>
                            <th>操作</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                        <tr [pEditableRow]="rowData">
                            <td>
                                {{rowData.title}}
                            </td>
                            <td>
                                {{rowData.nickName}}
                            </td>
                            <td>
                                {{rowData.time}}
                            </td>
                            <td style="text-align:center">
                                <button pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger" (click)="delPost(rowData, ri)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>