<div class="sys-param-container" [@flyIn]="'active'">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">文章列表显示条数</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="文章列表显示条数">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文章标题最小长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="文章标题最小长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">文章标题最大长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="文章标题最大长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">评论最少字数</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="评论最少字数">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">评论最多字数</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="评论最多字数">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名最小长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="用户名最小长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名最大长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="用户名最大长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密码最小长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="密码最小长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密码最大长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="密码最大长度">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">个人简介最大长度</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="个人简介最大长度">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-success">保存</button>
            </div>
        </div>
    </form>
</div>
