<div [formGroup]="form">
    <label class="col-md-2 control-label">{{field.label}}</label>
    <div class="col-md-10">
        <div [ngSwitch]="field.controlType">
            <input *ngSwitchCase="'textbox'" class="form-control" value="{{field.value}}" [formControlName]="field.key"
                [type]="field.type" placeholder="{{field.placeholder}}" />
            <textarea *ngSwitchCase="'textarea'" value="{{field.value}}" rows="{{field.rows}}" class="form-control"
                [formControlName]="field.key" placeholder="{{field.placeholder}}"></textarea>
            <img *ngSwitchCase="'image'" src="{{field.src}}">
        </div>
    </div>
</div>