<div class="role-table-container" [@fadeIn]="'active'">
  <form class="form-vertical" role="form">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group">
          <input [(ngModel)]="searchStr" name="searchStr" class="form-control" type="text" placeholder="角色名称">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="searchRole()">
                  <i class="fa fa-search" aria-hidden="true"></i>搜索
              </button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group pull-right">
          <button class="btn btn-primary" type="button" (click)="newRole()">
            <i class="fa fa-user" aria-hidden="true"></i>创建角色
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <div class="role-item-container">
          <p-table [value]="roleList" dataKey="id" editMode="row"  
            [paginator]="true" [rows]="10" [pageLinks]="10" [totalRecords]="totalRecords"
            [lazy]="true" (onLazyLoad)="pageChanged($event)">
            <ng-template pTemplate="header">
                <tr>
                    <th>名称</th>
                    <th>代码</th>
                    <th>操作</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="rowData">
                    <td>
                        {{rowData.roleName}}
                    </td>
                    <td>
                        {{rowData.roleKey}}
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0);" (click)="editRole(rowData, ri)"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0);" (click)="delRole(rowData, ri)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>