.main-nav {
    background: #6f5499;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.navbar-toggle {
    .icon-bar {
        background-color: #fff;
    }
}

.nav > li > a {
    color: #fff;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #fff;
    background-color: #777;
}

.navbar-brand {
    color: #fff;
}

.main-container {
    padding-top: 50px;
}
