$navBgColor:#38434e;
$navhoverColor:#242c33;
.main-nav {
    background: $navBgColor;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.navbar-toggle {
    .icon-bar {
        background-color: #fff;
    }
}

.nav > li > a {
    color: #fff;
}

.nav > li.active,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #fff;
    background-color: $navhoverColor;
}

.navbar-brand-my {
    color: #fff;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-secondary {
    color: #fff;
    background-color: $navBgColor;
    border-color: $navBgColor;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #313131;
    border-color: #2b2a2a;
}
.btn{
    &:hover{
     color: #fff;
     text-decoration: none;
    }
    &:focus{
      outline: 0;
    }

}

.logo-img {
    width: 100%;
    height: 100%;
}

.main-container {
    padding-top: 80px;
    min-height: 800px;
}

.footer {
    text-align: left;
    padding: 40px 48px;
    background: $navBgColor;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    a {
        color: #fff;
    }
}
