$navbarBgColor:#04091e;
$navbarBgHoverColor:#303d47;
.main-nav {
    background: $navbarBgColor;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
    .navbar-toggle {
        .icon-bar {
            background-color: #fff;
        }
    }
    .navbar-collapse {
        background: $navbarBgColor;
        li>a {
            color: #fff;
        }
        li.active,
        li>a:hover,
        li>a:focus,
        .open>a,
        .open>a:hover,
        .open>a:focus {
            color: #fff;
            background-color: $navbarBgHoverColor;
        }
    }
    .navbar-brand-my {
        color: #fff;
        line-height: 50px;
        padding: 0 15px 0 0;
        text-align: left;
        vertical-align: middle;
    }
}

.main-container {
    min-height: 1024px;
    padding: 70px 0 20px 0;
}

.footer {
    padding: 30px 0px;
    background: $navbarBgColor;
    color: #fff;
    a {
        color: #fff;
    }
}