.main-nav {
    background: #303030;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.navbar-toggle {
    .icon-bar {
        background-color: #fff;
    }
}

.nav > li > a {
    color: #fff;
}

.nav > li.active,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    color: #fff;
    background-color: #777;
}

.navbar-brand-my {
    color: #fff;
    line-height: 50px;
    padding: 0 15px 0 0;
    text-align: left;
    vertical-align: middle;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-secondary {
    color: #fff;
    background-color: #444;
    border-color: #444;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #313131;
    border-color: #2b2a2a;
}
.btn:hover {
    color: #fff;
    text-decoration: none;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.main-container {
    min-height: 1024px;
    padding: 75px 0 0 0;
}

.footer {
    text-align: left;
    padding: 40px 48px;
    background: #303030;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    a {
        color: #fff;
    }
}
