<div class="social-channel-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">社交媒体</h3>
        </div>
        <div class="list-group">
            <a href="http://weibo.com/angularjs" class="list-group-item" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i> 官方微博</a>
            <a href="http://i.youku.com/u/UMjczOTc0NDkzNg==" class="list-group-item" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i> 优酷视频教程</a>
            <a href="https://www.youtube.com/channel/UCzrskTiT_ObAk3xBkVxMz5g" class="list-group-item" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> 油管视频教程</a>
            <a href="http://damoqiongqiu.github.io/" class="list-group-item" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> 我的主页</a>
        </div>
    </div>
</div>
