<div class="container user-main-container" [@flyIn]="active">
    <div class="row">
        <div class="col-sm-9">
            <app-postlist></app-postlist>
        </div>
        <div class="col-sm-3">
            <app-user-info></app-user-info>
            <div class="list-group">
                <a href="#" class="list-group-item"><span class="badge">14</span>文章管理</a>
                <a href="#" class="list-group-item"><span class="badge">14</span>评论管理</a>
                <a routerLink="../profile" class="list-group-item">个人设置</a>
            </div>
        </div>
    </div>
</div>
