<div class="container user-main-container" [@flyIn]="active">
    <div class="row">
        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-3">
            <app-user-info></app-user-info>
            <div class="list-group">
                <a routerLink="write" class="list-group-item">写作</a>
                <a routerLink="posttable"  class="list-group-item"><span class="badge">1024</span>文章管理</a>
                <a routerLink="commenttable"  class="list-group-item"><span class="badge">1024</span>评论管理</a>
                <a routerLink="tagtable"  class="list-group-item"><span class="badge">1024</span>标签管理</a>
                <a routerLink="profile" class="list-group-item">个人设置</a>
            </div>
        </div>
    </div>
</div>
