<div class="post-detail-container">
	<div class="img-container">
		<img src="assets/imgs/headline.png" alt="光刻机">
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>{{ post.title }}</h3>
		</div>
	</div>
	<div class="row post-info">
		<div class="col-md-3">
			<span class="fa fa-user"></span>{{ post.nickName }}
		</div>
		<div class="col-md-3">
			<span class="fa fa-clock-o"></span>{{ post.time }}
		</div>
		<div class="col-md-3">
			<span class="fa fa-hand-pointer-o"></span>点击：{{ post.readTimes }}
		</div>
		<div class="col-md-3">
			<span class="fa fa-comment"></span>评论：{{ post.commentTimes }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 post-content" [innerHTML]="post.content | sanitizeHtml">
		</div>
	</div>
</div>