.post-detail-container {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
    .img-container {
        height: 400px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    h3 {
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .post-info {
        font-size: 12px;
        color: #777777;
        padding-bottom: 15px;
    }
    .post-content {
        color: #777777;
        font-size: 14px;
    }
}