<div class="online-contact-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">实时交流</h3>
        </div>
        <div class="list-group">
            <a href="javascrpit:void(0);" class="list-group-item">Angular 1区:286047042</a>
            <a href="javascrpit:void(0);" class="list-group-item">Angular 2区:139357161</a>
            <a href="javascrpit:void(0);" class="list-group-item">Angular 3区:473129930</a>
        </div>
    </div>
</div>
