<div class="online-contact-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">QQ群-请勿加多个</h3>
        </div>
        <div class="list-group">
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=8db5ed802cbddbf6432d7ba7dc4f2a316be020442491eb41cbfb1a12434e8cc7"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular-1区:286047042</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=cbfcd79e7e90939b0e2c519f475fac4792985ce2abc5ad45ec5e06ffcfe944dd"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular-2区:139357161</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=639229c8b6ad0c3a9a8f381dddf5d7785780b20d8c37eb25c91ac73ea7d37a5f"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular-3区:473129930</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=12add102af3f67910bdc0de753dee10ebada08ab485af7e38f4dfa0ee27476f7"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular-4区:483016484</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=1293a6494fb306ea29d281e320a8f4ef82285fa5300f73118e6ff7a79ce76036"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular-5区:604253120</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=fcd880ba919983dc85690642d48cf00ad0affd8d35de5f30542c895e622a8ab8"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> Angular-6区:124641447</a>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=5d6b8c5296e4806142b8422ae7abca6f27b9b9b992a4dac80dc1392644e8970a"
                class="list-group-item"><i class="fa fa-qq" aria-hidden="true"></i> 脚本娃娃-桃花岛:83163037</a>
        </div>
    </div>
</div>