<div class="container write-post-container" [@flyIn]="'active'">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="标题，2到32个字符">
                </div>
                <div class="form-group">
                    <ckeditor [(ngModel)]="content" [editor]="Editor" name="content"></ckeditor>
                </div>
                <button type="button" class="btn btn-primary" (click)="doAddPost()">{{'submit'|translate}}</button>
            </form>
        </div>
    </div>
</div>