<div class="post-list-container">
    <!-- <form class="form-vertical" role="form">
        <div class="row">
            <div class="col-md-10">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="{{'search' | translate}}" [(ngModel)]="searchText"
                        (keyup)="searchChanged($event)" (change)="searchChanged($event)" id="searchText" name="searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="searchChanged($event)"><i class="fa fa-search"
                                aria-hidden="true"></i> {{'search' | translate}}</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <button class="btn btn-success" type="button" (click)="gotoWrite()"><i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i> {{'post.publish' | translate}}</button>
                </div>
            </div>
        </div>
    </form> -->
    <div class="row">
        <div class="col-md-12">
            <div class="post-item-container" *ngFor="let post of postList">
                <h4>
                    <a [routerLink]="['/post/postdetail',post.postId]" class="{{post.isfamous | boolean }}">{{post.title}}</a>
                    <span class="pull-right user-name-intitle">{{post.userName }}</span>
                </h4>
            </div>
            <p-paginator rows="{{itemsPerPage}}" totalRecords="{{totalRecords}}" first="{{offset}}" pageLinkSize="3"
                (onPageChange)="pageChanged($event)">
            </p-paginator>
        </div>
    </div>
</div>