.comment-table-container {
    .comment-item-container {
        padding: 15px 0px;
        td {
            word-wrap:break-word; 
            word-break:break-all;
            max-width: 250px;
        }
    }
}
