.post-headline-container {
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    margin-bottom: 20px;
    .img-container {
        height: 400px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .post-headline-details {
        color: #fff; // background-color: #ff3300;
        position: relative;
        padding: 20px;
        bottom: 130px;
        width: 100%;
        a,
        a:focus,
        a:hover {
            color: #fff;
            text-decoration: none;
            outline: 0;
        }
        .user-info {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                color: #fff;
                margin-right: 10px;
                font-weight: 300;
                font-size: 12px;
                a {
                    color: #fff;
                }
            }
        }
    }
}