<div class="api-permission-table-container" [@fadeIn]="'active'">
  <form class="form-vertical" role="form">
    <div class="row">
      <div class="col-md-10">
        <div class="input-group">
          <input [(ngModel)]="searchStr" name="searchStr" class="form-control" type="text" placeholder="API 名称或者权限字符串">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="searchPermission()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="input-group pull-right">
          <button class="btn btn-primary" type="button" (click)="newPermission()">
            <i class="pi pi-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <div class="permission-item-container">
        <p-table [value]="apiPermissionList" dataKey="id" editMode="row" [paginator]="true" [rows]="10" [pageLinks]="10"
          [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="pageChanged($event)"
          styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th>API 名称</th>
              <th>API URL</th>
              <th>权限通配符</th>
              <th>备注</th>
              <th>已关联角色</th>
              <th>操作</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData">
              <td>
                {{rowData.apiName}}
              </td>
              <td>
                {{rowData.url}}
              </td>
              <td>
                {{rowData.permission}}
              </td>
              <td style="width: 120px;">
                {{rowData.remark}}
              </td>
              <td>
                <h5 *ngFor="let role of rowData.roleEntities">
                  <span class="label label-info">{{role.roleName}}</span>
                </h5>
              </td>
              <td style="text-align:right">
                <p-button icon="pi pi-pencil" styleClass="p-button-success" [style]="{ 'margin-right': '.5em' }"
                  (click)="editPermission(rowData, ri)"></p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-danger"
                  (click)="delPermission(rowData, ri)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>