<div class="post-table-container" [@flyIn]="'active'">
    <form class="form-vertical" role="form">
        <div class="row">
            <div class="col-sm-10">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="标题，作者">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
                    </span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="input-group pull-right">
                    <button class="btn btn-success" type="button" (click)="goToWrite()">发表文章</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-12">
            <div class="post-item-container">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>标题</th>
                            <th>作者</th>
                            <th>日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of postList">
                            <td>{{post.postId}}</td>
                            <td>{{post.title}}</td>
                            <td>{{post.userName}}</td>
                            <td>{{post.postTime}}</td>
                            <td>
                                <a href="javascript:void(0);" name="{{post.postId}}" (click)="editPost($event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);" name="{{post.postId}}" (click)="unTop($event)"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);" name="{{post.postId}}" (click)="top($event)"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
                                <a href="javascript:void(0);" name="{{post.postId}}" (click)="delPost($event)"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination [totalItems]="totalItems" [maxSize]="maxSize" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage"
            firstText="{{'firstPage' | translate}}" lastText="{{'lastPage' | translate}}"
            previousText="{{'previousPage' | translate}}" nextText="{{'nextPage' | translate}}"
            [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
             (pageChanged)="pageChanged($event)" class="pagination-sm"></pagination>
        </div>
    </div>
</div>
<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">请确认</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                确定删除吗？
            </div>
        </div>
    </div>
</div>
