<div class="add-component-container">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="5-140个字符，非法字符自动截断。"></textarea>
                </div>
                <button type="button" class="btn btn-primary">{{'submit' | translate}}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let comment of comments" class="comment-item-container">
                <h5>{{comment.content}}</h5>
                <p>{{comment.username}} {{comment.date}}</p>
            </div>
        </div>
    </div>
</div>