.add-component-container {
    .comment-item-container {
        background-color: #ffffff;
        padding: 20px;
        border-bottom: 1px dashed #d9d9d9;
    }
    form {
        margin-bottom: 15px;
    }
}